{% extends "base.html" %}


{% block content %}
  <div class="carousel-inner">
    {% for image in images %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img class="img-fluid" src="{{ image.image.url }}" class="d-block w-100" alt="...">
      </div>
    {% endfor %}
  </div>
<script>
  const carouselItems = document.querySelectorAll('.carousel-item');

let currentIndex = 0;

let intervalId;

carouselItems.forEach(item => {
  item.addEventListener('mouseenter', () => {
    intervalId = setInterval(() => {
      carouselItems[currentIndex].classList.remove('active');
      currentIndex = (currentIndex + 1) % carouselItems.length;
      carouselItems[currentIndex].classList.add('active');
    }, 500);
  });
  item.addEventListener('mouseleave', () => {
    clearInterval(intervalId);
  });
});
</script>
{% endblock %}